tensorboard==2.8.0
tensorflow==2.8.0
tensorflow-gpu==2.8.0
tensorflow_addons==0.18.0
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
wandb==0.12.16
protobuf==3.20.*
numpy==1.21.*
matplotlib==3.2.*
pandas==0.25.*